<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Resume</title>
  <style>
    @page {
      margin: 40px 30px 40px 30px;
    }

    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: Arial, sans-serif;
      background-color: white;
      color: #3b3b3b;
      font-size: 13px;
    }

    .container {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 30px;
    }

    .header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }

    .photo {
      width: 100px;
      height: 100px;
      background-color: #eee;
      border: 1px solid #ccc;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: #888;
    }

    .header-content h2 {
      margin: 0;
      font-size: 24px;
    }

    .header-content p {
      margin: 4px 0;
      color: #333;
      line-height: 1.2;
    }

    .section {
      margin-top: 30px;
    }

    .section h3 {
      margin-bottom: 10px;
      color: #333;
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
    }

    .info-table {
      width: 100%;
      border-collapse: collapse;
    }

    .info-table td,
    .info-table th {
      border: 1px solid #ccc;
      padding: 8px 10px;
      text-align: left;
    }

    .info-table th {
      background-color: #f0f0f0;
    }

    .info-table .left-column {
      background-color: #f0f0f0;
    }

    ul {
      margin: 0;
      padding-left: 20px;
    }

    .projects ul {
      padding-left: 20px;
    }

    .projects ul li {
      margin-bottom: 8px;
    }

    .page-break-group-education {
      page-break-before: always;
      page-break-inside: avoid;
      font-size: 13px;
    }

    .page-break-group-employments {
      page-break-before: always;
      page-break-inside: avoid;
    }

    .page-break-group-projects {
      page-break-before: always;
      page-break-inside: avoid;
    }

    .page-break-group-others {
      page-break-before: always;
      page-break-inside: avoid;
    }

    .page-break-group-presentations {
      page-break-before: always;
      page-break-inside: avoid;
    }
    ul a {
      color: #61c2f4
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="photo">
        <img src="<%= user.profilePicture %>" alt="Profile Photo"
          style="width: 100%; height: 100%; object-fit: cover;" />
      </div>

      <div class="header-content">
        <h2>
          <%= user.name %>
        </h2>
        <p style="color: #61c2f4">
          <%= userDetails.resumeHeadline %>
        </p>
        <p>Email: <%= user.email %> | Phone: <%= user.phone_number %>
        </p>
        <p>Address: <%= candidateDetails.currentLocation %>
        </p>
      </div>
    </div>

    <% if (userDetails.profileSummary) { %>
      <div class="section">
        <h3>About Me</h3>
        <p style="text-align: justify; line-height: 22px;">
          <%= userDetails.profileSummary %>
        </p>
      </div>
      <% } %>

        <!-- Personal Details Section Start -->

        <div class="section">
          <h3>Personal Details</h3>
          <table class="info-table">

            <!-- Date of Birth -->
            <tr>
              <td class="left-column"><strong>Date of Birth</strong></td>
              <td>
                <% const dob=new Date(candidateDetails.dob); const day=dob.getDate(); const
                  month=dob.toLocaleString('default', { month: 'long' }); const year=dob.getFullYear(); function
                  getOrdinal(n) { const s=["th", "st" , "nd" , "rd" ], v=n % 100; return n + (s[(v - 20) % 10] || s[v]
                  || s[0]); } const formattedDOB=`${getOrdinal(day)} ${month} ${year}`; %>
                  <%= formattedDOB %>
              </td>
            </tr>

            <!-- Gender -->
            <tr>
              <td class="left-column"><strong>Gender</strong></td>
              <td>
                <%= user.gender_name %>
              </td>
            </tr>

            <!-- Marital Status -->
            <tr>
              <td class="left-column"><strong>Marital Status</strong></td>
              <td>
                <%= userPersonalDetails.maritalStatusName %>
              </td>
            </tr>

            <!-- Additional Information -->
            <tr>
              <td class="left-column"><strong>Additional Information</strong></td>
              <td>
                <%= userPersonalDetails.additionalInformationNames?.join(', ') || "N/A" %>
      </td>
    </tr>

    <!-- Career Break -->
    <tr>
      <td class="left-column"><strong>Career Break</strong></td>
      <td>
  <% if (userPersonalDetails.reasonName) { %>
    Yes – <%= userPersonalDetails.reasonName %><br>
    From:
    <%= new Date(2000, userPersonalDetails.startMonth - 1).toLocaleString('default', { month: 'long' }) %>
                  <%= userPersonalDetails.startYear %><br>
                    <% if (userPersonalDetails.endMonth && userPersonalDetails.endYear) { %>
                      To:
                      <%= new Date(2000, userPersonalDetails.endMonth - 1).toLocaleString('default', { month: 'long' })
                        %>
                        <%= userPersonalDetails.endYear %>
                          <% } else { %>
                            To: Present
                            <% } %>
                              <% } else { %>
                                No
                                <% } %>
              </td>

            </tr>

            <!-- Category -->
            <tr>
              <td class="left-column"><strong>Category</strong></td>
              <td>
                <%= userPersonalDetails.categoryName %>
              </td>
            </tr>

            <!-- Work Permit -->
            <tr>
              <td class="left-column"><strong>Work Permit</strong></td>
              <td>
                <%= userPersonalDetails.usaPermitName %><br>
                  <%= userPersonalDetails.workPermitOtherNames?.join(' , ') || "N/A" %>
      </td>
    </tr>

    <!-- Address -->
    <tr>
      <td class="left-column"><strong>Address</strong></td>
      <td><%= userPersonalDetails.permanentAddress %>, <%= userPersonalDetails.pincode %></td>
    </tr>

    <!-- Disability -->
    <tr>
      <td class="left-column"><strong>Differently Abled</strong></td>
      <td>
        <% if (userPersonalDetails.disabilityTypeName) { %>
          Yes, <%= userPersonalDetails.disabilityTypeName %>, 
          <%= userPersonalDetails.workplace_assistance %>
        <% } else { %>
          No
        <% } %>
</td>

    </tr>

  </table>
    </div>

    <!-- Personal Details Section End -->

    <% if (userPersonalDetails.skillsResolved && userPersonalDetails.skillsResolved.length > 0) { 
      const capitalize = (word) => word.charAt(0).toUpperCase() + word.slice(1);
      const formattedSkills = userPersonalDetails.skillsResolved.map(skill => {
        return skill
          .split(' ')
          .map(capitalize)
          .join(' ');
      }).join(', ');
      %>
      <div class="section">
        <h3 class="border-content">Skills</h3>
        <p><%= formattedSkills %></p>
      </div>
   <% } %>


    

    
    <!-- Education Details Start -->
      <div class="page-break-group-education">
       <% if (education && education.length > 0) { %>
          <div class="section">
            <h3>Educational Details</h3>
            <table class="info-table">
              <thead>
                <tr>
                  <th>Degree / Level</th>
                  <th>Institute / Board</th>
                  <th>Year</th>
                  <th>Marks</th>
                </tr>
              </thead>
              <tbody>
                <% education.forEach(edu=> { %>
                  <tr>
                    <td>
                      <%= edu.levelName %>
                    </td>
                    <td>
                      <% if (edu.levelId==='1' || edu.levelId==='2' ) { %>
                    <%= edu.board %>
                      <% } else { %>
                        <%= edu.universityName %>
                          <% } %>
              </td>
              <td>
                <% if (edu.levelId==='1' || edu.levelId==='2' ) { %>
                  <%= edu.year_of_passing %>
                    <% } else { %>
                      <%= edu.from %> - <%= edu.to %>
                          <% } %>
              </td>
              <td>
                <% if (edu.levelId==='1' || edu.levelId==='2' ) { %>
                  <%= edu.marks %>%
                    <% } else { %>
                      <% if (edu.gradingName && edu.gradingName.includes('Scale')) { %>
                        <%= edu.marks %> CGPA
                          <% } else if (edu.gradingName && edu.gradingName.includes('Marks')) { %>
                            <%= edu.marks %>%
                              <% } else { %>
                                <%= edu.marks %>
                                  <% } %>
                                    <% } %>
              </td>

            </tr>
            <% }) %>
              </tbody>
          </table>
        </div>
        <% } %>
          <!-- Education Details End -->

          <!-- Start IT Skills -->

          <!-- IT SKILLS Section -->

          <% if (itSkills && itSkills.length> 0) { %>
            <div class="section">
              <h2 class="border-content">IT Skills</h2>
              <table style="width: 100%; border-collapse: collapse;">
                <thead>
                  <tr style="background-color: #f0f0f0;">
                    <th style="text-align: left; padding: 8px; border: 1px solid #ccc;">Skill</th>
                    <th style="text-align: left; padding: 8px; border: 1px solid #ccc;">Version</th>
                    <th style="text-align: left; padding: 8px; border: 1px solid #ccc;">Last Used</th>
                    <th style="text-align: left; padding: 8px; border: 1px solid #ccc;">Experience</th>
                  </tr>
                </thead>
                <tbody>
                  <% itSkills?.forEach(skill=> { %>
                    <tr>
                      <td style="padding: 8px; border: 1px solid #ccc;">
                        <%= skill.skillName %>
                      </td>
                      <td style="padding: 8px; border: 1px solid #ccc;">
                        <%= skill.version %>
                      </td>
                      <td style="padding: 8px; border: 1px solid #ccc;">
                        <%= skill.lastUsed %>
                      </td>
                      <td style="padding: 8px; border: 1px solid #ccc;">
                        <%= skill.experienceyear %> yr <%= skill.experiencemonth %> mo
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
            <% } %>


              <!-- End IT Skills -->
  </div>



  <% if (employment && employment.length> 0) { %>
    <div class="page-break-group-employments">
      <div class="section">
        <h3>Employment History</h3>
        <table class="info-table" style="line-height: 22px;">
          <thead>
            <tr>
              <th>Company</th>
              <th>Position</th>
              <th>Duration</th>
              <th>Responsibilities</th>
            </tr>
          </thead>
          <tbody>
            <% employment.forEach(job=> { %>
              <tr>
                <td>
                  <%= job.companyName %>
                </td>
                <td>
                  <%= job.jobTitle %>
                </td>
                <td>
                  <% const monthNames=[ "January" , "February" , "March" , "April" , "May" , "June" , "July" , "August"
                    , "September" , "October" , "November" , "December" ]; const startMonth=job.joiningDate?.month ?
                    monthNames[job.joiningDate.month - 1] : null; const startYear=job.joiningDate?.year; const
                    endMonth=job.leavingDate?.month ? monthNames[job.leavingDate.month - 1] : null; const
                    endYear=job.leavingDate?.year; const formattedStart=startMonth && startYear ? `${startMonth}
                    ${startYear}` : "Start Date Unknown" ; const formattedEnd=job.currentEmployment ? "Present" :
                    (endMonth && endYear ? `${endMonth} ${endYear}` : "End Date Unknown" ); const
                    startDate=job.joiningDate?.year && job.joiningDate?.month ? new Date(job.joiningDate.year,
                    job.joiningDate.month - 1) : null; const endDate=job.currentEmployment ? new Date() :
                    (job.leavingDate?.year && job.leavingDate?.month ? new Date(job.leavingDate.year,
                    job.leavingDate.month - 1) : null); let durationText="" ; if (startDate && endDate) { let
                    years=endDate.getFullYear() - startDate.getFullYear(); let months=endDate.getMonth() -
                    startDate.getMonth(); if (months < 0) { years--; months +=12; } if (years> 0 || months > 0) {
                    durationText = ` (${years > 0 ? years + " year" + (years > 1 ? "s" : "") : ""}${years > 0 && months
                    >
                    0 ? " " : ""}${months > 0 ? months + " month" + (months > 1 ? "s" : "") : ""})`;
                    }
                    } %>
                    <%= formattedStart %> - <%= formattedEnd %>&nbsp;&nbsp;<%= durationText %>
                </td>


                <td style="text-align: justify;">
                  <%= job.jobDescription %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <% } %>

      <% if (projectDetails && projectDetails.length> 0) { %>
        <div class="page-break-group-projects">
          <div class="section projects">
            <h3>Projects</h3>
            <ul style="line-height: 22px;">
              <% projectDetails.forEach(proj=> {
                const fromMonth = new Date(proj.workedFrom.year, proj.workedFrom.month - 1).toLocaleString('default', {
                month:
                'long' });
                const toMonth = new Date(proj.workedTill.year, proj.workedTill.month - 1).toLocaleString('default', {
                month:
                'long' });
                %>
                <li style="text-align: justify;">
                  <strong>
                    <%= proj.projectTitle %>
                  </strong><br>
                  <em style="display: inline-block; margin-bottom: 10px;">Duration: <%= fromMonth %>
                      <%= proj.workedFrom.year %> to <%= toMonth %>
                          <%= proj.workedTill.year %></em><br>
                  <%= proj.description %>
                </li>
                <% }) %>
            </ul>
          </div>
        </div>
        <% } %>


          <div class="page-break-group-others">
            <% if (userCertifications && userCertifications.length> 0) { %>
              <div class="section">
                <h3>Certifications</h3>
                <ul style="text-align: justify;">
                  <% userCertifications.forEach(cert=> {
                    const monthNames = [
                    "January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"
                    ];
                    const fromMonth = cert.validityFrommonth ? monthNames[cert.validityFrommonth - 1] : null;
                    const fromYear = cert.validityFromyear;
                    const toMonth = cert.validityToMonth ? monthNames[cert.validityToMonth - 1] : null;
                    const toYear = cert.validityToyear;
                    %>
                    <li style="margin-bottom: 16px;">
                      <strong>
                        <%= cert.title || "Untitled Certification" %>
                      </strong><br />

                      <% if (cert.url) { %>
                        <a style="margin-top: 8px; padding: 0; display: block;" href="<%= cert.url %>" target="_blank"
                          rel="noopener noreferrer">
                          <%= cert.url %>
                        </a><br />
                        <% } %>

                          <% if (fromMonth && fromYear) { %>
                            Valid from: <%= fromMonth %>
                              <%= fromYear %>.
                                <% } %>

                                  <% if (cert.doesNotExpire) { %>
                                    Does not expire.
                                    <% } else if (toMonth && toYear) { %>
                                      Valid till: <%= toMonth %>
                                        <%= toYear %>.
                                          <% } %>
                    </li>
                    <% }) %>
                </ul>
              </div>
              <% } %>


                <% if (onlineProfiles && onlineProfiles.length> 0) { %>
                  <div class="section">
                    <h3>Online Profiles</h3>
                    <ul style="margin: 0px 0px 5px 10px; padding: 0;">
                      <% onlineProfiles?.forEach(profile=> { %>
                        <li style="margin: 0px 0px 7px 15px; padding: 0;">
                          <strong>
                            <%= profile.name %>
                          </strong><br />
                          <a style="margin: 5px 0px 0px 0px; padding: 0; display: block;" href="<%= profile.url %>">
                            <%= profile.url %>
                          </a>
                        </li>
                        <% }) %>
                    </ul>
                  </div>
                  <% } %>

                    <% if (workSamples && workSamples.length> 0) { %>
                      <div class="section">
                        <h3>Work Profiles</h3>
                        <ul style="margin: 0px 0px 5px 10px; padding: 0;">
                          <% workSamples?.forEach(sample=> { %>
                            <li style="margin: 0px 0px 7px 15px; padding: 0;">
                              <strong>
                                <%= sample.workTitle %>
                              </strong><br />
                              <a style="margin: 5px 0px 0px 0px; padding: 0; display: block;" href="<%= sample.url %>">
                                <%= sample.url %>
                              </a><br />
                              <% const months=[ "January" , "February" , "March" , "April" , "May" , "June" , "July"
                                , "August" , "September" , "October" , "November" , "December" ]; const
                                fromMonth=months[sample.durationFrom?.month - 1] || "Unknown" ; const
                                fromYear=sample.durationFrom?.year || "Unknown" ; const toMonth=sample.currentlyWorking
                                ? "Present" : months[sample.durationTo?.month - 1] || "Unknown" ; const
                                toYear=sample.currentlyWorking ? "" : sample.durationTo?.year || "Unknown" ; %>
                                Duration: <%= fromMonth %>
                                  <%= fromYear %> - <%= toMonth %>
                                      <%= toYear %>
                            </li>
                            <% }) %>
                        </ul>
                      </div>
                      <% } %>

                        <% if (researchPublications && researchPublications.length> 0) { %>
                          <div class="section">
                            <h3>Research Publications</h3>
                            <ul style="margin: 0px 0px 5px 10px; padding: 0;">
                              <% researchPublications?.forEach(sample=> {
                                const hasDate = sample.publishedOn?.month && sample.publishedOn?.year;
                                const month = String(sample.publishedOn?.month || "").padStart(2, "0");
                                const year = sample.publishedOn?.year || "";
                                %>
                                <li style="margin-top: 20px; text-align: justify;">
                                  <strong style="margin-top: 10px;">
                                    <%= sample.title || "Untitled" %>
                                  </strong><br />
                                  <% if (sample.url) { %>
                                    <a style="margin-top: 7px; margin-bottom: 0px;  display: block;"
                                      href="<%= sample.url %>">
                                      <%= sample.url %>
                                    </a><br />
                                    <% } %>
                                      <% if (hasDate) { %>
                                        Published: <%= month %>/<%= year %>
                                            <% } %>
                                              <% if (sample.description) { %>
                                                <p style="margin: 5px 0px">
                                                  <%= sample.description %>
                                                </p>
                                                <% } %>
                                </li>
                                <% }) %>
                            </ul>

                          </div>
                          <% } %>

                          <div class="page-break-group-presentations">
                            <% if (userPresentations && userPresentations.length> 0) { %>
                              <div class="section">
                                <h3>Presentations</h3>
                                <ul style="margin: 0px 0px 5px 10px; padding: 0; text-align: justify;">
                                  <% userPresentations?.forEach(presentation=> {
                                    %>
                                    <li style="margin: 0px 0px 7px 15px; padding: 0;">
                                      <strong>
                                        <%= presentation.title || "Untitled Presentation" %>
                                      </strong><br />
                                      <% if (presentation.url) { %>
                                        <a style="margin: 8px 0px 0px 0px; padding: 0; display: block;"
                                          href="<%= presentation.url %>" target="_blank" rel="noopener noreferrer">
                                          <%= presentation.url %>
                                        </a><br />
                                        <% } %>
                                          <% if (presentation.description) { %>
                                            <p style="margin-top: 0px">
                                              <%= presentation.description %>
                                            </p>
                                            <% } %>
                                    </li>
                                    <% }) %>
                                </ul>
                              </div>
                              <% } %>

                                <% if (userPatents && userPatents.length> 0) { %>
                                  <div class="section">
                                    <h3>Patents</h3>
                                    <ul style="margin: 0px 0px 5px 10px; padding: 0; text-align: justify;">
                                      <% userPatents?.forEach(patent=> {
                                        const hasIssueDate = patent.issue_month && patent.issue_year;
                                        const month = String(patent.issue_month).padStart(2, '0');
                                        const year = patent.issue_year;
                                        %>
                                        <li style="margin: 0px 0px 7px 15px; padding: 0;">
                                          <strong>
                                            <%= patent.title || "Untitled Patent" %>
                                          </strong><br />
                                          <% if (patent.url) { %>
                                            <a style="margin: 8px 0px 0px 0px; padding: 0; display: block;"
                                              href="<%= patent.url %>" target="_blank" rel="noopener noreferrer">
                                              <%= patent.url %>
                                            </a><br />
                                            <% } %>

                                              <% if (patent.patent_office) { %>
                                                Patent Office: <%= patent.patent_office %><br />
                                                  <% } %>

                                                    <% if (patent.status) { %>
                                                      Status: <%= patent.status %><br />
                                                        <% } %>

                                                          <% if (patent.application_number) { %>
                                                            Application No: <%= patent.application_number %><br />
                                                              <% } %>

                                                                <% if (hasIssueDate) { %>
                                                                  Issued On: <%= month %>/<%= year %><br />
                                                                      <% } %>

                                                                        <% if (patent.description) { %>
                                                                          <p>
                                                                            <%= patent.description %>
                                                                          </p>
                                                                          <% } %>
                                        </li>
                                        <% }) %>
                                    </ul>

                                  </div>
                                  <% } %>
                          </div>
          </div>




          </div>
          </div>
</body>

</html>